<div class="col-sm-4">
	<a class="weater card" href="http://www.google.com">
		<div class="city-selected">
			<article>

				<div class="info">
					<div class="city">{{cityName}}</div>
					<!-- <div class="night">Night - 22:07 PM</div> -->

					<div class="temp">{{temperature | number : '1.2-2'}}°</div>

					<div class="wind">
						<span><b>Minimum : </b>{{minTemperature | number : '1.2-2'}}°</span>
						<span><b>Maximum : </b>{{maxTemperature | number : '1.2-2'}}°</span>
					</div>
				</div>

				<div class="icon">
					<img src="https://www.metaweather.com/static/img/weather/{{weatherIcon}}.svg" />
				</div>

			</article>
			
		</div>
	</a>
</div>