<div class="container">
	<div class="row">
		<div class="col-md-4">			
	        <form class="navbar-form" role="search">
		        <div class="input-group">
		            <input type="text" class="form-control" placeholder="Search for your city" [(ngModel)]="id_city" name="id_city">
		            <div class="input-group-btn">
		                <button class="btn btn-default" (click)="searchCityWeather()"><i class="glyphicon glyphicon-search"></i></button>
		            </div>
		        </div>
	        </form>
		</div>
		<div class="col-md-8" *ngIf="showSearchData">
			Showing Search Results for <span >{{id_city}}</span>
			<button class="btn btn-default"  (click)="clearCitySearch()">
				<i class="glyphicon glyphicon-remove"></i>
			</button>
		</div>
	</div>
	<div class="row">
		<weather *ngFor="let weather of cityWeather" [woeId]="weather.woeId" [weatherDate]="weather.date"
[weatherIcon]="weather.tempIcon" [cityName]="weather.city" [temperature]="weather.theTemp"  [minTemperature]="weather.minTemp"  [maxTemperature]="weather.maxTemp">   </weather>
		</div>
	<div class="row" *ngIf="showLoader">
        <div class="col-md-12">
            <div class="loader">
                <p>Loading...</p>
                <div class="loader-inner"></div>
                <div class="loader-inner"></div>
                <div class="loader-inner"></div>
            </div>
		</div>
	</div>
</div>